<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Note</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
	<ul>
		<li><a href="http://localhost:8000/lab-4/">Note</a></li>
		<li><a href="http://localhost:8000/lab-4/add-note/">Add Note</a></li>
	</ul>
	<table border="1" cellspacing="0" cellpadding="5" id="tabstyle">
		<thead>
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Title</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>		
			{% if notes %}
				{% for Note in notes%}
				<tr>
					<td>{{ Note.dari }}</td>
					<td>{{ Note.to }}</td>
					<td>{{ Note.title }}</td>
					<td>{{ Note.message }}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</body>
</html>