<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
	<style>
		input[type=text] {
		  	width: 100%;
		  	padding: 12px 20px;
		  	margin: 8px 0;
		  	box-sizing: border-box;
		}
		input[type=submit] {
			background-color: #4CAF50;
			border: none;
			color: white;
			padding: 16px 32px;
			text-decoration: none;
			margin: 4px 2px;
			cursor: pointer;
		}
		ul {
		  list-style-type: none;
		  margin: 0;
		  padding: 0;
		  overflow: hidden;
		  background-color: #3c3c3c;
		}

		li {
		  float: left;
		}

		li a {
		  display: block;
		  color: white;
		  text-align: center;
		  padding: 14px 16px;
		  text-decoration: none;
		}

		li a:hover {
		  background-color: #000;
		}
	</style>
</head>
<body>
	<ul>
		<li><a href="http://localhost:8000/lab-4/">Note</a></li>
		<li><a href="http://localhost:8000/lab-4/add-note/">Add Note</a></li>
	</ul>
	<form action="" method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="Submit">
	</form>
</body>
</html>