#tabstyle {
	font-family: Arial, Helvetica, sans-serif;
	border-style: solid;
	width: 100%;
}

#tabstyle td, #tabstyle th {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

#tabstyle tr:nth-child(even){background-color: #f2f2f2;}

#tabstyle tr:hover {background-color: #ddd;}

#tabstyle th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
	background-color: #3c3c3c;
	color: whitesmoke;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #3c3c3c;
}

li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	}

li a:hover {
	background-color: #000;
}