<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>
	<form 
	action="" 
	method="POST">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" name="Submit">
	</form>
</body>
</html>