<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table border="1" cellspacing="0" cellpadding="5">
      <thead>
        <tr>
          <th>Nama</th>
          <th>NPM</th>
          <th>Tanggal Lahir</th>
        </tr>
      </thead>
      <tbody>   
        {% if friends %}
          {% for Friend in friends%}
          <tr>
            <td>{{ Friend.name }}</td>
            <td>{{ Friend.NPM }}</td>
            <td>{{ Friend.tanggal_lahir }}</td>
          </tr>
          {% endfor %}
        {% endif %}
      </tbody>
  </table>
  </body>
</html>
