<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Note</title>
</head>
<body>
	<table border="1" cellspacing="0" cellpadding="5">
		<thead>
			<tr>
				<th>From</th>
				<th>To</th>
				<th>Title</th>
				<th>Message</th>
			</tr>
		</thead>
		<tbody>		
			{% if notes %}
				{% for Note in notes%}
				<tr>
					<td>{{ Note.dari }}</td>
					<td>{{ Note.to }}</td>
					<td>{{ Note.title }}</td>
					<td>{{ Note.message }}</td>
				</tr>
				{% endfor %}
			{% endif %}
		</tbody>
	</table>
</body>
</html>